body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  text-align: center;
  background-color: rgb(51, 122, 183);
  width: 100%;
}
.header h5 {
  font-size: 24px;
  color: white;
  margin: 0;
  padding: 10px;
}

.add-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 122, 183);
  margin-top: 40px;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
}

.add-button:hover {
  cursor: pointer;
}

.add-button h3 {
  color: white;
  margin: 0;
}

.add-button img {
  padding: 6px;
}

.standard-list {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  display: flex;
}

.standard-list .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(197, 195, 195);
}

.standard-list .heading h3 {
  color: black;
  margin: 0;
  font-size: 15px;
}

.standard-list .heading p {
  color: grey;
  font-size: 13px;
}
.standard-list .heading .actions {
  flex: 1;
}

.standard-list .heading .standard {
  margin-left: 30px;
  flex:2;
}

.subject {
  width: 80%;
  margin: auto;
  color: black;
  border-bottom: 2px solid rgb(197, 195, 195);
}

.subject .right,.left {
  display: inline-block;
}
.subject .right {
  margin-left: 60%;
}
input[type=submit] {
  font-size: 15px;
  border: 2px solid rgb(68, 67, 67);
  border-radius: 4px;
  padding: 4px;
  color: rgb(44, 42, 42);
}
input[type=submit]:hover {
  cursor: pointer;
}

.standard-indivisual {
 width: 80%;
 margin: auto;
}

.standard-indivisual img {
  opacity: 0.2;
  margin-right: 10px;
}

.standard-indivisual img:hover {
  opacity: 1;
}

.standard-indivisual img:first-child {
  cursor: pointer;
}

.standard-indivisual {
  display: flex;
  border-bottom: 2px solid rgb(197, 195, 195);
}

.standard-indivisual .actions {
  flex: 1;
  margin-top: 4px;
}

.standard-indivisual .standard-text {
  flex: 3;
  display: flex;
  align-items: center;
 
}

.standard-indivisual .standard-text .indent-block {
  width: 30px;
  height: 100%;
  background-color: rgb(238, 226, 226);
  border: 1px solid rgb(197, 195, 195);
}

.standard-indivisual .standard-text .text {
  margin-left: 70px;
}
.me {
color:rgb(47, 194, 186)
}